<!--Contents of this exam where referenced from INFO2602 Labs 4-9 and Extra Lab.
ID: 816013096-->
{% extends "layout.html" %}
{% block title %}MoQuips{% endblock %}
{% block page %} MoQuips {% endblock %}

{% block link%}
    <ul id="nav-mobile" class="right">
        <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
    </ul>
{% endblock %}

{{ super() }}

{% block content %}
      <main class="container">

        <div class="card" >
          <div class="card-content">
            <span class="card-title">Create Todo</span>
            <form name="addForm" method="POST" action="/createTodo">
              <div class="input-field">
                <input type="text" name="text" placeholder="enter to-do" class="materialize-textarea"></textarea>
                <label for="text">Enter todo Text</label>
              </div>
              <input class="btn blue white-text" type="submit" value="POST" />
            </form>
          </div>
        </div>

        <ul class="collection with-header" id="result">
            {% if current_user.is_authenticated %}
                {% for todo in todos %}
                     <li class="card collection-item col s12 m4">
                        <form id="todoForm{{todo.id}}" method="POST" action="updateTodo/{{todo.id}}" class="card-content">
                          <span class="card-title">{{todo.text}}
                            <label class="right">
                              <input type="checkbox" name="done" onchange="todoForm{{todo.id}}.submit()" {%  if todo.done %} checked {% endif %} />
                              <span>Done</span>
                            </label>
                          </span>
                        </form>
                        <div class="card-action">
                          <a href="/deleteTodo/{{todo.id}}">DELETE</a>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

    </main>
{% endblock %}